@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background: url(../imagens/fundo-01.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
section#celular{
    position: absolute;
    background: url(../imagens/celular-site.png) no-repeat top center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 448px;
    width: 207px;
}
iframe#tela{
    position: relative;
    top:01.9%;
    left: 07.5px;
    width: 192px;
    height: 428px;
}

