@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background: url(../imagens/fundo-01.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
section#celular{
    position: absolute;
    background: url(../imagens/celular-site.png) no-repeat top center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 448px;
    width: 207px;
}
iframe#tela{
    position: relative;
    top: 1.6%;
    left: 3.5%;
    width: 193px;
    height: 430px;
    border-radius: 10px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 60px;
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    border: 2px solid white;
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 8px black;
    transition: transform 0.3s, border 0.2s;
}


